<h4>How much will you be gambling today, <%= session[:user_name]%>?</h4>
<form action='/set_money' method='post'>
  Stake: <input type='text' class="input-medium search-query" name="money"/>
  <button type='submit' class='btn btn-primary'/>Buy In</button>
</form>