<div class="table_surface">
  <h3>Welcome to John Morgan's Sinatra-coded Blackjack! What's your name?</h3>
  <form action='/set_name' method='post'>
    Name: <input type='text' class="input-medium search-query" name="user_name"/>
    <button type='submit' class='btn btn-primary'/>Start</button>
  </form>
</div>