h3 {
	color: #181818;
	margin-top: 0px;
}

div h4 {
	color: #181818;
	padding-top: 0px;
	margin-top: 0px;
}

form {
	display: inline;
}

li {
	display: inline;
}

.table_surface {
	background-color: #D2B48C;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

.card_image {
	margin-right: 5px;
}

.button_surface {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
}

.footer {
	background-color: #006600;
	height: 30px;
}

.score {
	padding-top: 5px;
	margin-bottom: 0px;
}

.table_surface .btn.btn-info {
	margin-top: 5px;
}

.alert {
	margin: 10px;
}